NEXTAUTH_SECRET=change-me
NEXTAUTH_URL=http://localhost:3000
DATABASE_URL="file:./dev.db"
BRAND_NAME=LatencyPro
SUPPORT_EMAIL=support@saasvibetech.com
PAYONEER_EMAIL=your-payoneer@example.com
BANK_INSTRUCTIONS="Meezan Bank\nAccount: 04150105867548\nIBAN: PK68MEZN0004150105867548\nSWIFT: MEZNPKKAFSD"
